---
import Layout from '../layouts/Layout.astro'
import styles from '../stylesheet/home.module.css'
import Header from '../components/Header.astro'
import About from '../components/About.astro'
import Project from '../components/Project.astro'
import Skills from '../components/Skills.astro'
import Github from '../components/svg/github.astro'
import Linkedin from '../components/svg/linkedin.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import '../stylesheet/global.css'
---

<Layout title="Hugo Avila">
  <main class="main-container">
    <Header />
    <article class={styles.sectionContainer}>
      <picture>
        <img
          class={styles.imgAvatar}
          src="https://res.cloudinary.com/hugok2k/image/upload/c_scale,w_200/v1661134228/IMG_20220105_110054726_HDR_qejxvm.jpg"
          alt="avatar"
        />
      </picture>
      <span class={styles.titleName}>Hola. Soy Hugo</span>
      <span class={styles.textDev}>Fullstack Developer, apasionado de la tecnología y la programación.</span>
      <div class="socialContainer">
        <a class="svglink" href="https://www.linkedin.com/in/devhugoavila/" target="_blank">
          <Linkedin height="28" width="28" />
        </a>
        <a class="svglink" href="https://github.com/hugok2k" target="_blank">
          <Github height="28" width="28" />
        </a>
      </div>
      <a
        class={styles.button}
        href="https://github.com/hugok2k/portfolio/raw/main/documents/CV-HugoAvila.pdf"
        download="CV-HugoAvila.pdf">Descarga mi CV</a
      >
    </article>
    <Project />
    <div class="skillContainer">
      <Skills />
    </div>
    <div class="aboutContainer">
      <About />
    </div>
    <div>
      <Contact />
    </div>
    <Footer />
  </main>
</Layout>

<style>
  .aboutContainer {
    min-height: 500px;
  }
  .skillContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
  }
  .socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
  }
  .svglink {
    fill: var(--color-primary);
    transition: 0.3s;
  }
  .svglink:hover {
    fill: #fff;
  }
</style>
