---
import Layout from '../layouts/Layout.astro'
import styles from '../stylesheet/home.module.css'
import Header from '../components/Header.astro'
import About from '../components/About.astro'
import Project from '../components/Project.astro'
import Skills from '../components/Skills.astro'
import '../stylesheet/global.css'
---

<Layout title="Hugo Avila">
  <main class="main-container">
    <Header />
    <section class={styles.sectionContainer}>
      <picture>
        <img
          class={styles.imgAvatar}
          src="https://res.cloudinary.com/hugok2k/image/upload/c_scale,w_200/v1661134228/IMG_20220105_110054726_HDR_qejxvm.jpg"
          alt="avatar"
        />
      </picture>
      <span class={styles.titleName}>Hola. Soy Hugo</span>
      <span class={styles.textDev}>Full-stack Developer, un apasionado de la tecnología y la programación.</span>
      <div class={styles.socialContainer}>
        <a class={styles.circleSocial} href="https://github.com/hugok2k" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
        <a class={styles.circleSocial} href="https://www.linkedin.com/in/devhugoavila/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
      <a
        class={styles.button}
        href="https://github.com/hugok2k/portfolio/raw/main/documents/CV-HugoAvila.pdf"
        download="CV-HugoAvila.pdf">Descarga mi CV</a
      >
    </section>
    <About />
    <Skills />
    <Project />
  </main>
</Layout>

<style>
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 100%;
  }
  .fa-github,
  .fa-linkedin {
    color: var(--color-primary);
    font-size: 30px;
    padding: 0 10px 0 10px;
    transition: all 0.3s linear;
  }
  .fa-linkedin:hover,
  .fa-github:hover {
    color: var(--color-secondary);
    transition: all 0.3s linear;
  }
</style>
