---
export interface Props {
  title: string
  body: string
  href: string
  deploy: string
  image: string
  tools: string[]
}

const { title, body, href, deploy, image, tools } = Astro.props
import Github from './svg/github.astro'
import LinkEx from './svg/link.astro'
import Next from './svg/next.astro'
import Css3 from './svg/css3.astro'
import Google from './svg/google.astro'
import React from './svg/react.astro'
import Tailwind from './svg/tailwind.astro'
import Astrosvg from './svg/astrosvg.astro'
import Node from './svg/node.astro'
import Moon from './svg/moon.astro'
import Monbodb from './svg/monbodb.astro'
import Codepen from './svg/codepen.astro'
import Html5 from './svg/html5.astro'
---

<article class='cardContainer'>
  <h2 class='title'>
    {title}
  </h2>
  <div class='imgContainer'>
    <img class='imgProject' src={image} alt={title} />
    <a class='textImg' href={deploy} target='_blank' rel='noreferrer noopener'>
      <span class='textDeploy'>Ir al sitio</span>
      <LinkEx height='22' width='22' />
    </a>
  </div>
  <p class='parrafo'>
    {body}
  </p>
  <div class='tools'>
    {
      tools.map((e) => {
        return (
          <span class='toolSvg'>
            {e === 'NextJS' ? (
              <Next />
            ) : e === 'CSS' ? (
              <Css3 />
            ) : e === 'GoogleAPI' ? (
              <Google />
            ) : e === 'ReactJS' ? (
              <React />
            ) : e === 'Tailwind' ? (
              <Tailwind />
            ) : e === 'Astro' ? (
              <Astrosvg />
            ) : e === 'NodeJS' ? (
              <Node />
            ) : e === 'MongoDB' ? (
              <Monbodb />
            ) : e === 'HTML' ? (
              <Html5 />
            ) : (
              ''
            )}
          </span>
        )
      })
    }
  </div>
  <span class='svglinkContainer'>
    <a
      class='svglink'
      href={deploy}
      target='_blank'
      rel='noreferrer noopener'
      aria-label='link to deploy'
      ><LinkEx height='26' width='26' />
    </a>
    {
      href.includes('github') ? (
        <a
          class='svglink'
          href={href}
          target='_blank'
          rel='noreferrer noopener'
          aria-label='link to github'
        >
          <Github height='24' width='24' />
        </a>
      ) : (
        <a
          class='svglinkCodepen'
          href={href}
          target='_blank'
          rel='noreferrer noopener'
          aria-label='link to github'
        >
          <Codepen />
        </a>
      )
    }
  </span>
</article>

<style>
  .tailwind {
    height: 24px;
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #380b1f;
    width: 320px;
    height: 420px;
    border-radius: 6px;
    box-sizing: border-box;
  }
  .cardContainer .imgContainer {
    position: relative;
    height: 163px;
    width: 320px;
    overflow: hidden;
  }
  .title {
    text-align: center;
    background-color: var(--color-primary);
    border-radius: 6px 6px 0 0;
    font-weight: 400;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.1rem;
  }
  .parrafo {
    width: 320px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    height: 120px;
    color: #fff;
  }
  .imgProject {
    width: 320px;
    height: 163px;
  }
  .tools {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    font-size: 12px;
    padding-left: 20px;
    width: 320px;
    box-sizing: border-box;
    color: #fff;
  }
  .svglinkContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    width: 320px;
    padding: 20px 20px 0px 0;
    box-sizing: border-box;
    text-align: right;
  }
  .svglink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    fill: #fff;
    transition: 0.3s;
  }
  .svglink:hover {
    fill: var(--color-primary);
  }
  .svglinkCodepen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    stroke: #fff;
    transition: 0.3s;
  }
  .svglinkCodepen:hover {
    stroke: var(--color-primary);
  }
  .textImg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 600;
    fill: #fff;
  }
  .textImg:hover {
    opacity: 1;
  }
  .textDeploy {
    padding-right: 10px;
  }
  a {
    text-decoration: none;
    color: var(--color-text-base);
  }
  a:visited {
    color: var(--color-text-base);
  }
  .toolSvg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24px;
  }
</style>
