---
export interface Props {
  title: string
  body: string
  href: string
  image: string
}

const { href, title, body, image } = Astro.props
---

<div class="cardContainer">
  <a href={href} target="_blank">
    <span class="title">
      {title}
    </span>
    <p class="parrafo">
      {body}
    </p>
    <picture>
      <img src={image} alt={title} />
    </picture>
  </a>
</div>

<style>
  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 284px;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 32px;
  }
  .parrafo {
    width: 350px;
  }
</style>
