---
import Card from './Card.astro'
import { data } from './utils/data'
---

<section class='container-project'>
  <h3 class='subtitle' id='project'>Projects</h3>
  <article class='skillContainer'>
    {
      data.map((e) => {
        return (
          <Card
            href={e.href}
            title={e.title}
            body={e.body}
            image={e.image}
            tools={e.tools}
            deploy={e.deploy}
          />
        )
      })
    }
  </article>
</section>

<style>
  .container-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
  }
  .skillContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 820px;
  }
</style>
