---
import Card from './Card.astro'
import { data } from '../utils/data.js'
---

<section class="flex flex-col justify-center items-center px-4">
  <h3 class="subtitle" id="project">Proyectos</h3>
  <article class="flex flex-wrap items-center justify-center gap-20 w-full max-w-[840px]">
    {
      data.map((e) => {
        return <Card href={e.href} title={e.title} body={e.body} image={e.image} tools={e.tools} deploy={e.deploy} />
      })
    }
  </article>
</section>
